/* element section  */
body {
  min-width: 375px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: rgb(16, 4, 48) ;
}

body::-webkit-scrollbar {
  display: none;
}

.container-xl {
  background-color: rgba(29, 0, 66, 1);
}

div h2 {
  color: rgba(200, 200, 200, 1.0);
}

div > span {
  color: aliceblue;
}

main > h1 {
  margin-top: 300px;
}

#Introduction, #About_Me, #Experience, #Work, #Contact {
  height: 600px;
}

a:active{
  color: blueviolet;
}

a:link, a:visited{
  color:rgb(226, 208, 43);
  text-decoration: none;
}

/* 
classname section  */

.highlight {
  color: rgba(255,201,71,1.0);
}

.titleGame {
  margin-top: 32px;
} 

.description {
  color: blueviolet;
  font-size: medium;
}

.home-text {
  color: rgba(200, 200, 200, 1.0);
}

.email-link {
  display: block;
  position: fixed;
  bottom: 30%;
  right: -10%;
  transform: rotate(90deg);

}

.email-link a {
  color: rgba(255, 28, 217, 0.6) ;
}

.email-link::after {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  background: rgba(255, 28, 217, 0.6);
  left: 130%;
  top: 80%;
  position: absolute;
}

.social-bar {
  display: block;
  position: fixed;
  left: 30px;
  bottom: 5%;
  color: rgba(255, 28, 217, 0.6);
}

.social-bar > * {
  display: block;
  margin: 10px;
}

.social-bar a {
  color: rgba(255, 28, 217, 0.6);
}

.non-line {
  text-decoration: none;
}

/* navbar section */

.navbar-brand{
  font-family: "Open Sans", sans-serif;
  color: blueviolet;
}

.navbar {
  background-color: #2D0051;
}

.nav a {
  text-decoration: none;
  color: blueviolet;
}

.nav a:hover {
  text-decoration: none;
  color: rgb(226, 208, 43);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #2D0051;
}

.dropdown-menu a:hover {
  background-color: #2D0051;
}


/* id section  */
#bewerbungsfoto {
  width: 6rem;
  filter: opacity(60%);
  display: inline;
  float: right;
  margin-left: 10px;
}

/* video setting */

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
   border-radius: 20px;
}

#playlist {
  margin-left: 20px;
  padding: 10px;
}

/*  responsive section  */
@media all and  (max-width: 2500px) {
  span, h2, p {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 2.5rem;
  }

  .email-link {
    right: 0;
  }

  .social-bar a {
    right: -100px;
    font-size: 1.7rem;
    left: 5%;
  }
  .iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 37.25%;
    position: relative;
  }
}

@media all and  (max-width: 991px) {
  span, h2, p {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.8rem;
  }

  .social-bar a {
    right: -100px;
    font-size: 1.2rem;
    left: 5%;
  }

  .iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;
  }
}

@media all and (max-width: 576px) {
  span, h1, p {
    font-size: 0.8rem;
  }
  h1 {
    font-size: 1.6rem;
  }

  .email-link {
    right: -10%;
    font-size: 0.9rem;
    bottom: 30%;
  }

  .social-bar a {
    right: -100px;
    font-size: 1.2rem;
    left: 0;
    bottom: 3%;
  }

  .navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }


}